  @font-face {
    font-family: 'SamsungSharpSans-Bold';
    src: url('converted-files/SamsungSharpSans-Bold.eot');
    src: url('converted-files/SamsungSharpSans-Bold.woff2') format('woff2'),
         url('converted-files/SamsungSharpSans-Bold.woff') format('woff'),
         url('converted-files/SamsungSharpSans-Bold.ttf') format('truetype'),
         url('converted-files/SamsungSharpSans-Bold.svg#SamsungSharpSans-Bold') format('svg'),
         url('converted-files/SamsungSharpSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
  }
#particles-js{
    height: 100%;
    background: #262626;

  }

 @media screen and (max-width: 640px){
    .amici1{
      margin:auto !important;
      display: block !important;
      margin-top: 5px !important;
      margin-bottom: 5px !important;
    }
    .footer{
      display: none;
    }

      .container-ballina{
        margin-top: 10px !important;
      }
      #button-ballina{
        width:90% !important;
      }

        .ballina-pjesa1 h1{

    font-size: 40px !important;

  }
   .second-column h1{

    font-size: 40px !important;

  }
  .second-column p{
  font-size: 20px !important;
  }
  }


    @media screen and (max-width: 960px){
      .button-mobile{
      display:inline-block !important;
    }
 
      .navbar-nav{
        display: none;
      }
      .button-navbar, .button-navbar{
        display: none;
      }
      .navbar-brand{
        margin:auto !important;
      }
      .pjesa1-container img{
        margin:auto;
        display: block !important;
      }
      .ballina-pjesa1{
        width: 100% !important;
        margin-bottom:40px !important;
        height: auto !important
      }
      .ballina-pjesa2{
      display: none !important;
      }
      .ballina-pjesa2 img{
      
        display: none;
        
      }


      .first-column, .second-column{
        width: 100% !important;
        margin-bottom:40px !important;
        height: auto !important
      }
      .second-column-container{
         height: auto !important
      }

      .first-column img{
         float: none !important;
        width:90% !important;
        height: auto !important;
        margin:auto !important;
        display: block !important;
      }

     
      .container-ballina, .container-ballina-part2{
        justify-content: center !important;
        
        flex-direction: column !important;
        height: auto !important;
      }
      .ballina-pjesa1 h1{

        margin-top: 50px !important;
        width:90% !important; 
              word-break: break-all !important;
       word-break: break-word !important;
  

      }
      .second-column h1{
        margin-top: 50px !important;
        width:100% !important;

        word-break: break-all !important;
        word-break: break-word !important;
      }
      .second-column p{
        width:90% !important;
      }
      .pjesa1-container{
        width:97% !important;
        height: auto !important; 
      }

    }

.amici{
  color:black;
  font-size: 35px;
}
.team{
  color:#979797;
  font-size: 35px;

}
.amici1{
  display: none;
  font-family: 'SamsungSharpSans-Bold';
  font-size: 20px;
  font-weight: 10;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  word-break: keep-all;
   color: #333333;
   text-align: center;
   margin:auto;
   

}
#amici1{
  margin-left: 5px;
}

.footer{
background: #E4E4E4;
padding: 20px;
font-size: 20px;
  font-family:SamsungSharpSans-Bold;
  text-align: center;
  margin-top:20px;
}

  .container-ballina{
    margin-top: 20px;
    height:500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    

  }
  .ballina-pjesa1, .ballina-pjesa2{
    
  
    overflow: hidden;
    height: 100%;   
  }
  .ballina-pjesa1{
    width:58%;
  }
  .ballina-pjesa2{
    width:41%;
  }
  .ballina-pjesa1 h1{
    text-align: center;
    margin: auto;
    width:80%;
    font-size: 50px;
  }

  .second-column p{
    text-align: center;
    margin: auto;
    width:70%;
    margin-top:20px;
    font-size: 20px;
  }
  
  .ballina-pjesa2 img{
    height: 100%;
  }
  .navbar{
    background: #F9F9F9 !important; 
  }
  .navbar a{
    color:#191919 !important;
  }
  

.navbar-brand{
font-size: 30px;
  
  }
  .ballina-pjesa1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

  }
#button-ballina{
  padding: 15px 20px;
  width:200px;
      background: white;
border: none;
 border-radius: 50px;
  cursor: pointer;
    font-size: 16px;
      color: #191919;
      text-align: center;
      text-decoration: none;
      margin:10px;
      border: 2px solid #191919;
}
#button-ballina:hover{
    background: #191919;
    color:white;
}
.pjesa1-container img{
  width:90%;
  display: none;
}

.container-ballina-part2{
  margin-top: 30px;

  height:500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.first-column, .second-column{
    
  
    overflow: hidden;
    height: 100%;   
  }
  .first-column{
  width:41%;
  }
  .second-column{
        width:58%;
  }
  .first-column img{
    height: 100%;
   float: right;
      }
      .second-column{
  display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
      }
       .second-column h1{
    text-align: center;
    margin: auto;
    width:80%;
    font-size: 50px;
  }
  .button-navbar{
     padding: 15px 20px;
  width:200px;
      background: white;
border: none;
 border-radius: 50px;
  cursor: pointer;
    font-size: 16px;
      color: #191919;
      text-align: center;
      text-decoration: none;
      margin:10px;
      border: 2px solid #191919;
  }
  .button-navbar:hover{

      background: #191919 !important; 
    color:white!important;}
    .button-mobile{
      display: none;
    
  }
  .button-pc{
    margin-top: 20px !important;
  }